.stepper-line {
    background-color: #D4D4D8;
    height: 2px;
    width: 416px;
    position: absolute;
}

.stepper-item {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 1px solid #D4D4D8;
    background-color: #FFFFFF;
}

.stepper-item-text {
    text-align: center;
    font-weight: 400;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);

}

.stepper-item__active-text {
    color: #ffffff !important;
}

.stepper-item-label {
    padding-top: 8px;
    max-width: 96px;
    text-wrap: wrap;
}

.stepper-item__wrapper + .stepper-item__wrapper {
    padding-left: 32px;
}

.stepper-item__wrapper  {
    position: relative;
    top: -15px;
}

.stepper-active__item {
    color: #fff;
    background-color: #B991FF;
    border: 1px solid #B991FF;
}