* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: #F4F4F5;
  font-family: Poppins, sans serif;
  /*background-image: url("./assets/background.jpg");*/
  /*background-repeat: no-repeat;*/
  /*background-position: center;*/
  /*background-size: cover;*/
  /*background-attachment: fixed;*/

}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}


.align-center {
  align-items: center;
}

.registration-form-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.registration-form {
  background-color: #FFFFFF !important;
  border-radius: 8px;
  padding: 32px !important;
  width: 480px;
}

.form-title {
  color: #27272A;
  font-weight: 600;
}

.form-text {
  /*color: #C8C8D0;*/
  font-weight: 400;
  text-align: center;
}

.justify-center {
  justify-content: center;
}
.text-large {
  font-size: 28px;
}

.text-medium {
  font-size: 14px;
}

.text-medium-secondary {
  font-size: 16px;
}

.text-small {
  font-size: 12px;
}

.form-header div + div {
  padding-top: 16px;
}

.form-inner-wrapper {
  padding-top: 40px;
}

.background-purple {
  background-color: #B991FF;
}

.background-zink {
  background-color: #D4D4D8;
}

.color-grey {
  color: #C8C8D0;
}