.account-option-btn {
    padding: 12px;
    border: 1px solid #B991FF;
    background: transparent;
    border-radius: 4px;
    cursor: pointer;
    color: #B991FF;
}

.account-option-info {
    padding-left: 16px;
}

.account-option-info div + div {
    padding-top: 8px;
}

.account-option-btn.active {
    background: #B991FF;
    color: #fff;
}
